 body {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	margin: 0;
	padding: 0;
	min-width: 960px;
	font-size: 16px;
  }
 header, footer {
	z-index: 10;
 }
  header {
    height: 77px;
    padding: 0 50px 20px 50px;
    border-bottom: 1px dashed #afafaf;
	border-top: 4px solid black;
	position: fixed;
	width: 100%;
	background: #ffffff;
  }
  header .logo {
	display: block;
	float: left;
	margin-top: 16px;
	width: 200px;
	height: 43px;
	background:url('logo.png') white no-repeat;
  }
  header nav .nav-slider {
	position: absolute;
	top: 0;
	width: 100px;
	height: 4px;
	background: #FFCC33;
  }
  header nav {
	display: block;
	position: relative;
	float: right;
	height: 100%;
	padding-top: 24px;
	border-top: 1px solid #EEEEEE;
  }  
  header nav a {
	color: #AAAAAA;
	margin: 13px;
	text-decoration: none;
  } 
  header nav a:hover, header nav a.nav-item.active {
	color: black;
	text-decoration: none;
  }
  header, footer, .content {
  	min-width: 860px;
  }
  div.content-container {
	padding-top: 77px;
	margin: 0 auto;
	width: 960px;
	padding-bottom: 77px;
  }
  div.content {
	margin-top: 20px;
	font-size: 18px;
	font-color: #333333;
  }
  div.content  h1{
   font-size: 72px;
  }
  div.skills-list {
	width: 170px;
	display: block;
	float: left;
	margin: 0 10px;
	padding: 0;
  }

  div.skill {
	border: 1px dashed black;
	display: block;
	background-color: white;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
  }
  .skill-icon  {
	position: absolute;
	top: 20px;
	left: 20px;
  }
  .skill-content {
	position: absolute;
	top: 20px;
	left: 178px;
	width: 520px;
  }
  .skill-content h2 {
	margin: 10px 0;
  }

  .kwicks-vertical, .kwicks-horizontal {
  	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  .kwicks-vertical {
		width: 960px;
		height: 960px;
	}
	.kwicks-horizontal {
		width: 960px;
		height: 100%;
	}
	.kwicks-horizontal > li {
		height: 100%;
		float: left;
		padding: 10px;
		opacity: 0.6;
	}
	.kwicks-horizontal > li.kwicks-expanded {
		opacity: 1;
	}
  .document-links {
	margin: 0 auto;
	text-align: center;
  }
  .document-link {
	border: 3px dashed rgb(32, 39, 42);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display: inline-block;
	padding: 30px;
	margin: 30px;
	background: #EEEEEE;
	opacity: 0.5;
  }
  .document-link:hover {
	opacity: 1;
  }
  footer {
	border-top: 1px dashed #afafaf;
    background: #efefef;
	position: fixed;
	bottom: 0;
	width: 100%;
	color: #333333;
	border-bottom: 4px solid black;
  }
  footer .follow-me {
	text-align: center;
	font-size: 16px;
	margin: 15px;
  }
  footer .follow-me a {
	margin: 0 7px;
	text-decoration: none;
	cursor: pointer;
	color: #666666;
  }
  footer .follow-me a:hover {
	color: #000000;
  }
  footer .follow-me a div {
  	display: inline-block;
  }
  footer .follow-me a .icon {
	font-size: 22px;
  }
  .icon-github, .icon-linkedin {
	position: absolute;
  } 
  .text-linkedin, .text-github {
	margin-left: 28px;
  }

.loading .content {filter: alpha(opacity=0); opacity: 0; -webkit-transform: translateX(-10px);}
.anim-load .content {-webkit-transition: all .8s ease; -moz-transition: all .8s ease; -ms-transition: all .8s ease; -o-transition: all .8s ease; transition: all .8s ease;}